{% extends 'index.html' %}


{% block head %}{% endblock %}

{% block body %}
<h2>Dashboard</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle"></i> {{msg}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
<div class="card mb-3">
    <img src="static\images\Enter_face_panel.png" class="card-img-top object-fit-contain" alt="Enter_face_panel.png">
    <div class="card-body">
        <h5 class="card-title">Welcome {{username}}</h5>
        <p class="card-text">Enter Face revolutionizes the realm of security with its innovative approach to face recognition technology.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 p-2">
        <h1 class="m-3"><i class="bi bi-people"></i> {{num_of_users}}</h1>
        <div class="card-body">
          <h5 class="card-title">Registerd Userers</h5>
          <a href="{{url_for('registerdUsers')}}" class="card-text">show more</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 p-2">
        <h1 class="m-3"><i class="bi bi-box-arrow-in-right"></i> 0</h1>
        <div class="card-body">
          <h5 class="card-title">Entries</h5>
          <a href="{{url_for('history')}}" class="card-text">show more</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 p-2">
        <h1 class="m-3"><i class="bi bi-exclamation-triangle"></i> 0</h1>
        <div class="card-body">
          <h5 class="card-title">Alerts</h5>
          <a href="" class="card-text">show more</a>
        </div>
      </div>
    </div>
  

{% endblock %}