{% extends 'index.html' %}

{% block head %}{% endblock %}

{% block body %}
<h2>New User</h2>
<div class="nav-header">
<a href="{{url_for('dashboard')}}" class="Info link link-underline link-underline-opacity-0">Dashboared</a><a  class="Info link link-underline link-underline-opacity-0 link-opacity-50">> New User</a>
</div>
<form action="{{url_for('newUser')}}" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User Name</label>
        <input type="text" class="form-control" name="username">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
   
    
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>

    <button type="submit" class="btn btn-primary">Add User</button>

</form>
{% endblock %}